chromadb
dash
dash_draggable
email-validator
flask
flask-bootstrap
flask-login
flask-migrate
flask-sqlalchemy
flask-wtf
ollama
pandas
plotly
psycopg2
sqlalchemy
vanna[chromadb,ollama,openai,postgres]
